In [1]:
import pandas as pd

In [8]:
spam_df = pd.read_csv('spam_df' , sep='\t' , names= ['label' , 'message'])

In [9]:
spam_df.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [10]:
import string
from nltk.corpus import stopwords

In [11]:
stopwords.words('english')[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [12]:
def text_process(message) : 
    no_punc = [letter for letter in message if letter not in string.punctuation]
    no_punc_msg = ''.join(no_punc)
    
    no_punc_msg_list = no_punc_msg.split()
    
    no_punc_no_stopwords_msg = [word for word in no_punc_msg_list if word.lower() not in stopwords.words('english')]
    
    return no_punc_no_stopwords_msg

In [16]:
text_process('This is a car, and i like car..!!')

['car', 'like', 'car']

In [20]:
spam_df['message'].head().apply(text_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: message, dtype: object

In [21]:
spam_df['length'] = spam_df['message'].apply(len)

In [22]:
spam_df.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [24]:
spam_df.groupby('label').describe()

       length
        count        mean        std   min    25%    50%    75%    max
label
ham    4825.0   71.482487  58.440652   2.0   33.0   52.0   93.0  910.0
spam    747.0  138.670683  28.873603  13.0  133.0  149.0  157.0  223.0

In [28]:
spam_df[['label' , 'message']].groupby('label').describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
# from sklearn.feature_extraction.text import TfidfTransformer

In [66]:
bag_of_words = CountVectorizer(analyzer=text_process).fit(spam_df['message'])

In [34]:
splitted_msg = spam_df['message'].apply(text_process)

In [67]:
bag_of_words_msg = bag_of_words.transform(spam_df['message'])

In [68]:
print(bag_of_words_msg)

  (0, 1110)	1
  (0, 1483)	1
  (0, 2060)	1
  (0, 4653)	1
  (0, 5217)	1
  (0, 5218)	1
  (0, 5769)	1
  (0, 6217)	1
  (0, 6906)	1
  (0, 6937)	1
  (0, 7555)	1
  (0, 7668)	1
  (0, 8336)	1
  (0, 8917)	1
  (0, 10965)	1
  (0, 11163)	1
  (1, 2451)	1
  (1, 3064)	1
  (1, 7701)	1
  (1, 8590)	1
  (1, 10698)	1
  (1, 11072)	1
  (2, 73)	1
  (2, 423)	1
  (2, 430)	1
  :	:
  (5568, 6691)	1
  (5568, 6882)	1
  (5568, 7159)	1
  (5568, 11418)	1
  (5569, 3228)	1
  (5569, 3721)	1
  (5569, 8252)	1
  (5569, 10199)	1
  (5570, 4508)	1
  (5570, 5055)	1
  (5570, 5251)	1
  (5570, 6282)	1
  (5570, 6699)	1
  (5570, 6799)	1
  (5570, 6984)	1
  (5570, 7287)	1
  (5570, 7394)	1
  (5570, 7800)	1
  (5570, 8420)	1
  (5570, 9915)	1
  (5570, 10787)	1
  (5570, 11006)	1
  (5571, 3431)	1
  (5571, 8348)	1
  (5571, 10648)	1

In [69]:
from sklearn.feature_extraction.text import TfidfTransformer

In [70]:
tf_transformer = TfidfTransformer().fit(bag_of_words_msg)

In [88]:
print(bag_of_words_msg)

  (0, 1110)	1
  (0, 1483)	1
  (0, 2060)	1
  (0, 4653)	1
  (0, 5217)	1
  (0, 5218)	1
  (0, 5769)	1
  (0, 6217)	1
  (0, 6906)	1
  (0, 6937)	1
  (0, 7555)	1
  (0, 7668)	1
  (0, 8336)	1
  (0, 8917)	1
  (0, 10965)	1
  (0, 11163)	1
  (1, 2451)	1
  (1, 3064)	1
  (1, 7701)	1
  (1, 8590)	1
  (1, 10698)	1
  (1, 11072)	1
  (2, 73)	1
  (2, 423)	1
  (2, 430)	1
  :	:
  (5568, 6691)	1
  (5568, 6882)	1
  (5568, 7159)	1
  (5568, 11418)	1
  (5569, 3228)	1
  (5569, 3721)	1
  (5569, 8252)	1
  (5569, 10199)	1
  (5570, 4508)	1
  (5570, 5055)	1
  (5570, 5251)	1
  (5570, 6282)	1
  (5570, 6699)	1
  (5570, 6799)	1
  (5570, 6984)	1
  (5570, 7287)	1
  (5570, 7394)	1
  (5570, 7800)	1
  (5570, 8420)	1
  (5570, 9915)	1
  (5570, 10787)	1
  (5570, 11006)	1
  (5571, 3431)	1
  (5571, 8348)	1
  (5571, 10648)	1

In [75]:
tf_transformer_transform = tf_transformer.transform(bag_of_words_msg)

In [76]:
tf_transformer_transform.shape

(5572, 11425)

In [77]:
from sklearn.naive_bayes import MultinomialNB

multinomialNB_model = MultinomialNB().fit(tf_transformer_transform , spam_df['label'])

In [79]:
msg = spam_df['message'][4]

In [80]:
msg_bag_of_words_transformed = bag_of_words.transform([msg])

In [82]:
print(msg_bag_of_words_transformed)

  (0, 2948)	1
  (0, 4777)	1
  (0, 6123)	1
  (0, 6877)	1
  (0, 7842)	1
  (0, 10433)	1
  (0, 10450)	1
  (0, 10799)	1

In [84]:
msg_tfidf_transformed = tf_transformer.transform(msg_bag_of_words_transformed)

In [86]:
print(msg_tfidf_transformed)

  (0, 10799)	0.4019015462543087
  (0, 10450)	0.35407004444444734
  (0, 10433)	0.27043580251222216
  (0, 7842)	0.4457437273623316
  (0, 6877)	0.35407004444444734
  (0, 6123)	0.24090226292109554
  (0, 4777)	0.3104226271508041
  (0, 2948)	0.4019015462543087

In [89]:
multinomialNB_model.predict(msg_tfidf_transformed)

array(['ham'], dtype='<U4')

In [90]:
spam_df['label'][4]

'ham'