In [3]:
from nltk.corpus import stopwords
import pandas as pd
import numpy as np
import string

In [7]:
#Get the spam data collection 

dataset = pd.read_csv('..\SpamCollection\SpamCollection' , sep='\t' , names = ['response' , 'features'])

In [8]:
dataset.head()

  response                                           features
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
dataset.groupby('response').describe()

         features                                                            \
            count unique                                                top
response
ham          4825   4516                             Sorry, I'll call later
spam          747    653  Please call our customer service representativ...


         freq
response
ham        30
spam        4

In [12]:
#view response 
dataset['response'].unique()

array(['ham', 'spam'], dtype=object)

In [17]:
#Verify length of the messages and also add it as a new column 
dataset['length'] = dataset['features'].apply(len)

In [18]:
dataset.head()

  response                                           features  length
0      ham  Go until jurong point, crazy.. Available only ...     111
1      ham                      Ok lar... Joking wif u oni...      29
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3      ham  U dun say so early hor... U c already then say...      49
4      ham  Nah I don't think he goes to usf, he lives aro...      61

In [55]:
#define a function to get rid of stopwords present in the messages
def stopwordsRemover(sentence) :
    sentenceWithoutPunctuations = [alphabet for alphabet in sentence if alphabet not in string.punctuation]
    sentence = ''.join(sentenceWithoutPunctuations)
    sentence = sentence.lower()
    sentenceWithoutStopwords =  [word for word in sentence.split() if word not in stopwords.words('english')]
    return sentenceWithoutStopwords
    #     return ' '.join(sentenceWithoutStopwords)

In [56]:
stopwordsRemover('Fine if that\x92s the way u feel. That\x92s the way its gota b')

['fine', 'that\x92s', 'way', 'u', 'feel', 'that\x92s', 'way', 'gota', 'b']

In [57]:
dataset['features'][18]

'fine that\x92s way u feel that\x92s way gota b'

In [58]:
cleanedDataset = dataset

cleanedDataset['features'] = dataset['features'].apply(stopwordsRemover)

In [59]:
cleanedDataset.head()

  response                                           features  length
0      ham  [go, jurong, point, crazy, available, bugis, n...     111
1      ham                     [ok, lar, joking, wif, u, oni]      29
2     spam  [free, entry, 2, wkly, comp, win, fa, cup, fin...     155
3      ham      [u, dun, say, early, hor, u, c, already, say]      49
4      ham  [nah, dont, think, goes, usf, lives, around, t...      61

In [60]:
#start text processing with vectorizer 
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
count_vectorizer = CountVectorizer(analyzer=stopwordsRemover).fit(dataset['features'])

In [ ]:
#use bag of words by applying the function and fit the data into it
bag_of_words

In [ ]:
#print length of bag of words stored in the vocabulary_ attribute

In [ ]:
#apply tfidf transformer and fit the bag of words into it (transformed version)

In [ ]:
#print shape of the tfidf

In [ ]:
#choose naive Bayes model to detect the spam and fit the tfidf data into it

In [ ]:
#check model for the predicted and expected value say for message#2 and message#5